.popular{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    height: 90vh;
}
.popular h1{
    color: #171717;
    padding: 20px;
    font-size: 50px;
    font-weight: 600;
}
.popular hr{
    width: 200px ;
    height: 6px;
    border-radius: 10px;
    background: #252525;

}

.popular-item {
    margin-top: 50px ;
    display: flex;
    margin-left: 10px;
    gap: 20px;
    
}
.popular-item .item:hover {
    transform: scale(1.05);
    transition: 0.5s;
  }


  